*{
	margin:0 auto;
	background-color: #F4F4E0;
}
body{
	margin: 0 auto;
}

header{
	margin: 0px auto;
	width: 100%;
	height: 70px;
	border: 1px red solid;
	background-color: red;
}
header nav{
	background-color: red;
}

header nav img{
	display: inline-block;
	position: absolute;
	width: 90px;
	height: 50px;
	padding-top: 10px;
	padding-left: 40px;
	padding-bottom: 10px;
	background-color: red;
}

header nav ul{
	position: absolute;
	list-style: none;
	text-align: right;
	width: 80%;

	
}
header nav ul li{
	text-decoration: none;
	font-weight:  bold;
	font-size:  20px;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin: 5px 10px 5px 10px;
	
}
header nav ul li a{
	text-decoration:none;
	border:1px #2A2A2A solid;
	padding: 10px 10px 10px 10px;
	
}
header nav ul li a:hover{
	background-color: #2A2A2A;
}
.contenido{
	position: relative;
	width: 100%;
	height: 300px;
	border: 1px black solid;
}
